<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline"></ion-icon>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-one">
  <ion-img src="assets/foto_perfil.svg" alt="foto perfil"></ion-img>
  <ion-text class="user-name">João Pimenta</ion-text>
</div>


<ion-card class="cardapio">
  <ion-img src="assets\frame-cardapio.svg" alt="icon-cardapio" class="card-cardapio"></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Meu cardápio personalizado iFood</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    Dietas e restrições alimentares.
    
  </ion-card-content>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>

<ion-card>
  <div class="itens-cards">
  <ion-img src="assets\frame-chat.svg" alt="icon chat" ></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Chat</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Minhas conversas</ion-card-content>
</div>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>


<ion-card>
  <div class="itens-cards">
  <ion-img src="assets\frame-notificacao.svg" alt="icon notificao" ></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Notificações</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Minhas conversas</ion-card-content>
</div>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>

<ion-card>
  <div class="itens-cards">
  <ion-img src="assets\frame-carteira.svg" alt="icon carteira" ></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Carteira</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Meu saldo e QR code</ion-card-content>
</div>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>

<ion-card>
  <div class="itens-cards">
  <ion-img src="assets\frame-ticket.svg" alt="icon club" ></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Clube iFood</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Meus pacotes de desconto</ion-card-content>
</div>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>    
     
<ion-card>
  <div class="itens-cards">
  <ion-img src="assets\frame-cupom.svg" alt="icon cupom" ></ion-img>
  
  <div>
    <ion-card-header>
    <ion-card-subtitle>Cupons</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Meus cupons de desconto</ion-card-content>
</div>
</div>
<ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
</ion-card>     

</ion-content>
