<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-icon name="arrow-back-circle"></ion-icon>

      <ion-img src="assets\logo-mercado.svg" alt="foto perfil" class="logo-mercado"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-banner">
    <ion-text>
      <h1>iFood Mercado</h1>
      <div class="top-conteiner">
        <h4>4,8</h4>
        <ion-img src="assets\frame _stars.svg" alt="avaliação stars" class="stars"></ion-img>
        <ion-text>Pedido mínimo <strong>R$ 30, 00</strong></ion-text>

      </div>
    </ion-text>
    <div class="two-buttons">
      <button class="button-entrega">Entrega
        <ion-icon name="chevron-down-outline"></ion-icon>
      </button>

      <button class="button-entrega">Hoje, 50-60 min ●
        <ion-text class="free">Grátis</ion-text>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
  <main>
    <ion-searchbar placeholder="Buscar por item ou marca"></ion-searchbar>

     <IonButton size="large" class="list-sale">Lista de compras</IonButton> 

  </main>
</ion-content>